<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <body>

    <div class="container">
      <div class="header clearfix">
        <nav>
          <ul class="nav nav-pills float-right">
            <li class="nav-item"><a class="nav-link" href="/">                HOMEPAGE</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/login">     LOGIN</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/register">  REGISTER</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/profile">   PROFILE</a></li>
            <li class="nav-item"><a class="nav-link" href="/users/logout">    LOGOUT</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Dashboard</h3>
      </div>


      <div class="row">
        <div class="col-lg-12">
         

          <h2>Welcome to the login page</h2>
            <p>This is your dashboard</p>

      
      </div>

      <footer class="footer">
        <p>&copy; SKYDIVE 2019</p>
      </footer>

    </div> 

    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

    <link rel='stylesheet' href='/stylesheets/dashboard.css' />
  </body>
</html>
