<% include ./partials/header %>
<% include ./partials/scripts %>

<body>
    
    <div class="smooth">
        <div class="header">
            <ul>
            <li><a href="#home">Log In</a></li>
            <li><a href="#about">Sign Up</a></li>
            <li><a href="#price">Services and Locations</a></li>
            <li><a href="#contact">Contact Me</a></li>
            </ul>
        </div>

        <section id="home">
            <h2>Welcome to this craptastic page.</h2>
            <div>
                <p>I hope you find what you're looking for...</p>
            </div>
        </section>

        <section id="about">
            <h2>About Section</h2>
        </section>

        <section id="price">
            <h2>Price Section</h2>
        </section>

        <section id="contact">
            <h2>Contact Section</h2>
        </section>

    </div> 

    <link rel='stylesheet' href='/stylesheets/index.css' />


</body>


