<% include ./partials/header %>
<% include ./partials/scripts %>

<body>
    
    <div class="container-fluid">
        <nav class="navbar">
            <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="/dashboard">Validation</a></li>
                <li><a href="#profile">Profile</a></li>
                <li><a href="#products">Products</a></li>
            </ul>
        </nav>

  <section id="home">
    <h1>Welcome To My Site</h1>
    <p class="lead">Here's some words to take up space</p>
  </section>

  <section id="validation">
      <h1>Validation</h1>
      <p class="lead">More words on a page</p>
  </section>

  <section id="profile">
      <h1>Profile</h1>
      <p class="lead">About the User</p>
  </section>

  <section id="products">
      <h1>Products</h1>
      <p class="lead">Items for Sale. Give me your money</p>

      <div class="price-container">   
        <div class="card-deck">
        <div class="card">
            <img src="./images/dog.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Buy Stuff</h5>
            <p class="card-text">Buy this and be happier</p>
            <button type="button" class="btn btn-danger">Purchase</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/paraglide.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Buy This Stuff</h5>
            <p class="card-text">Buy this and be happier</p>
            <button type="button" class="btn btn-danger">Purchase</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/beehive.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Buy MOAR Stuff</h5>
            <p class="card-text">Buy this and be happier</p>
            <button type="button" class="btn btn-danger">Purchase</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/kong.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Keep buying crap</h5>
            <p class="card-text">Buy this and be happier</p>
            <button type="button" class="btn btn-danger">Purchase</button>
            </div>
        </div>
        <div class="card">
            <img src="./images/bear.jpg" class="card-img-top" alt="...">
            <div class="card-body">
            <h5 class="card-title">Buy this too</h5>
            <p class="card-text">Buy this and be happier</p>
            <button type="button" class="btn btn-danger">Purchase</button>
            </div>
        </div>
        </div>

    </div>

        <nav aria-label="Page navigation example">

        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
        </nav>
        
  </section>
</div>

</div> 

    <link rel='stylesheet' href='/stylesheets/index.css' />


</body>


