

  <% include ./partials/header %>
  <body>
    <% include ./partials/nav %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% include ./partials/footer %>
    <% include ./partials/scripts %>
  </body>

<script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</script>

</html>
